@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sawarabi Gothic';
  src: url('/fonts/SawarabiGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* [data-mantine-color-scheme="light"] {
  --mantine-color-body: #FCFCFD !important;
  --mantine-color-white: #FCFCFD !important;
}

.mantine-Anchor-root {
  color: var(--text-color) !important;
}
